.button {
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border: solid 1px #333;
    font-size: 1.2rem;
    transition: ease-in-out 0.3s;
    border-radius: 6px;

    &:hover {
        color: #fefefe;
        background-color: #333;
    }
}
