.contact {
    padding-bottom: 100px;
    text-align: center;
}

.contact h2 {
    font-size: 6rem;
}

.contact-description {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 3rem;
    color: #666;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 3rem;
    border-radius: 8px;
    background: #fefefe;
    border: solid 1px #333;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
}

.contact-link:hover {
    background: #333;
    color: #fefefe;
    scale: 1.05;
}

.contact-link svg {
    font-size: 1.8rem;
}
