.aboutDetail {
    padding-top: 50px;

    .githubLink {
        .link {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            border-radius: 8px;
            background: #fefefe;
            border: solid 1px #333;
            transition: 0.3s ease-in-out;
            text-decoration: none;
            color: #333;
            font-size: 1.6rem;
        }

        .link:hover {
            border: solid 1px #333;
            background: #333;
            color: #fefefe;
        }
    }
}

.vmvContent {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
    h2 {
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #c6c6c6;
    }

    h3 {
        width: 90%;
        margin: 0 auto;
        font-size: 3rem;
        color: #333;
    }

    .vmvText {
        width: 90%;
        margin: 0 auto;
        position: relative;
        font-size: 1.4rem;
        line-height: 1.8;
        margin-bottom: 4rem;
        color: #666;
        padding-left: 1.8rem;

        &::before {
            content: "";
            position: absolute;
            left: 8px;
            top: 3px;
            display: block;
            width: 3px;
            height: 20px;
            background-color: #333;
            margin-bottom: 1rem;
        }
    }
}
